header {
    height: 300px;
    padding-left: 50px;
    background-color: #512da8;
    color: #FFFFFF;
    display: flex;
    align-items: center;
}

.title-header-container>h1 {
    margin: 0 0 10px 0;
    font-size: 4em;
}

.loading-container {
    width: 100%;
    padding: 20px;
    text-align: center;
}

.loading-container h2 {
    color: #512da8;
}

.loading-container .spinner {
    margin: 0 auto;
}

table {
    width: 100%;
}

.table-row {
    background-color: #FFF;
    border: 1px #ccc;
}

.table-row:hover {
    background-color: #fafafa;
    cursor: pointer;
}

.title,
.time {
    color: #333;
    font-size: 13pt;
}

.author {
    color: #999;
    font-size: 13pt;
}

.action {
    display: none;
}

.table-row:hover .action {
    display: block;
}

.action-column {
    min-width: 100px;
}