<header>
    <div class="title-header-container">
        <h1>HN Feed</h1>
        <h3>We &lt;3 hacker news! </h3>
    </div>
</header>

<div class="loading-container" *ngIf="loading">
    <mat-spinner class="spinner"></mat-spinner>
</div>


<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="titleAndAuthor">
        <th mat-header-cell *matHeaderCellDef> Title </th>
        <td mat-cell *matCellDef="let article"> <span class="title">{{ article.title? article.title:article.story_title }}</span> <span class="author"> - {{article.author}} -</span></td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> date </th>
        <td mat-cell *matCellDef="let article"> <span class="time">{{ article.created_at | dateFormat }}</span> </td>
    </ng-container>


    <!-- Name Column -->
    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell class="action-column" *matCellDef="let article">
            <button *ngIf="loadingItem !== article._id" class="action" mat-icon-button (click)="deleteArticle(article);$event.stopPropagation()">
                <mat-icon>delete_outline</mat-icon>
            </button>
            <mat-spinner *ngIf="loadingItem === article._id" [diameter]="20" color="warn" class="spinner"></mat-spinner>
        </td>
    </ng-container>


    <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr> -->
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="table-row" (click)="openUrl(row)"></tr>
</table>